@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Formatação do Body */
body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  height: 100vh;
}

a {
  outline: none;
  text-decoration: none;
}

/* Formatação do Header */

header {
  /* border: 1px solid tomato; */
  padding: 10px 0;
  background-color: #222831;
}

input,
button,
submit {
  border: none;
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}

.div-header {
  /* border: 1px solid green; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#img-logo {
  width: 180px;
  /* border: 1px solid pink; */
}

.ul-menu-nav {
  width: 100%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#body-index header .div-header ul #item-menu-index,
#body-index header .div-header ul #item-menu-index a,
#body-consulta header .div-header ul #item-menu-consulta,
#body-consulta header .div-header ul #item-menu-consulta a,
#body-sobrenos header .div-header ul #item-menu-sobrenos,
#body-sobrenos header .div-header ul #item-menu-sobrenos a,
#body-contato header .div-header ul #item-menu-contato,
#body-contato header .div-header ul #item-menu-contato a {
  background-color: white;
  color: rgb(49, 48, 48);
  font-weight: bold;
}

label[for='bt_menu'] {
  width: 50px;
  height: 50px;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#bt_menu {
  display: none;
}

/* Formatação do Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  background-color: #222831;
  color: #ffffff88;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

footer span {
  width: 100%;
}

/* Tela ao chegar Width = 1000px */
@media (max-width: 1000px) {
  #img-logo {
    width: 120px;
    /* border: 1px solid pink; */
  }

  .ul-menu-nav li {
    /* margin: 0 30px; */
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 12px 20px;
  }
}

/* Tela ao chegar Width = 768px */
@media (max-width: 768px) {
  .div-header {
    /* border: 1px solid green;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #img-logo {
    width: 30%;
    min-width: 120px;
    /* border: 1px solid pink; */
  }

  #bt_menu:checked ~ .ul-menu-nav {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    transition: opacity 3s, visibility 3s, max-height 3s;
  }

  .ul-menu-nav {
    width: 100%;
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s, max-height 2s;
  }

  .ul-menu-nav li {
    text-align: center;
    width: 100%;
    margin: 2px 30px;
    padding: 12px 0;
    border: 1px solid white;
    border-radius: 50px;
    /* border-bottom: 1px solid white; */
  }

  label[for='bt_menu'] {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
  }
}

/* CSS Consulta.HTML */

.selector {
  margin-bottom: 10px;
}

#resultado-image {
  width: 50%;
}

#resultado-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  opacity: 70%;
  max-width: 600px;
}

#resultado-valor {
  width: 50%;
  border: 2px solid salmon;
  padding: 50px 0;
  border-radius: 20px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 600px;
}

.button {
  width: 12rem;
  height: 3.5rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  border-radius: 10rem;
  background-color: #393e46;
  transition-duration: 450ms;
}

.button:hover {
  background-color: #ffd369;
  color: #393e46;
  transition-duration: 400ms;
  cursor: pointer;
  box-shadow: #393e4611 0.2rem 0.3rem 0.2rem 0.15rem;
}

.button:active {
  background-color: #ffd269d8;
}

.title {
  font-size: 2rem;
}

.presentation {
  margin: 3rem 10rem;
}

.text {
  padding: 1rem;
  text-align: justify;
  word-wrap: break-word;
  display: flex;
}

.text p {
  line-height: 1.25rem;
  word-spacing: 0.2rem;
  word-wrap: break-word;
  margin: 1rem 0;
}

.text img {
  flex-wrap: wrap;
  position: relative;
  margin: 0 1.5rem;
  height: fit-content;
}

.search {
  display: flex;
  align-content: center;
  justify-content: center;
}

.search button {
  height: 5rem;
  width: 20rem;
  margin: 3rem;
}

.social-media {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  opacity: 30%;
}

.social-media img {
  width: 2.2rem;
  margin: 0.3rem;
}

.filter {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  padding: 3rem 10rem;
}

.filter {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 40rem;
}

.filter label {
  margin-bottom: 0.35rem;
  margin-left: 1rem;
  color: #393e469a;
  font-size: 0.9rem;
}

.filter select {
  padding: 0.75rem;
  border: 0.15rem solid #393e4622;
  font-size: 1rem;
  color: #6f6f6f;
  border-radius: 2rem;
  background-color: #eeeeee5d;
  margin-bottom: 1.4rem;
  font-weight: 400;
}

.filter select:focus {
  outline: none;
}

.filter select:hover {
  cursor: pointer;
  color: #393e46;
  transition: 400ms;
  border: 0.15rem solid #ffd369;
}

.show-result {
  line-height: 1.7rem;
  color: #393e46;
  font-size: 1.2em;
}

.result {
  width: auto;
  margin-left: 10rem;
}

.result p {
  text-align: center;
  margin: 1rem;
  font-size: 1.2rem;
}

.result img {
  border-radius: 0.4rem;
}
