.selector {
	margin-bottom: 10px;
}

#resultado-container {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#resultado-image {
	width: 50%;
}

#resultado-image img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	opacity: 70%;
	max-width: 600px;
}

#resultado-valor {
	width: 50%;
	border: 2px solid salmon;
	padding: 50px 0;
	border-radius: 20px;
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
	max-width: 600px;
}