* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

select{
  outline: none;
}

.section-consulta{
  position: relative;
  width: 80%;
  padding: 20px;
  max-width: 800px;
  margin: 16px auto 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-consulta{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  color: #393e46;
}
.div-filter{
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.div-filter select {
  padding: 0.75rem;
  border: 0.15rem solid #393e4622;
  font-size: 1rem;
  color: #6f6f6f;
  border-radius: 2rem;
  background-color: #eeeeee5d;
  margin-bottom: 1.4rem;
  font-weight: 400;
  max-width: 500px;
}

.div-filter label {
  margin-bottom: 0.35rem;
  margin-left: 1rem;
  color: #393e469a;
  font-size: 0.9rem;
}

.separar-label-select{
  display: flex;
  flex-direction: column;
}

.div-result {
    width: 100%;
    height: 100%;
    margin: 16px;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    position: absolute;
    top: 0px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.div-result .show-result{
  width: 80%;
  min-width: 60%;
  margin: 0 auto;
  padding: 16px 16px;
  align-self: center;
  color: white;
  font-size: 1em;
  font-weight: 500;
  background-color: #393e46;
  opacity: 0.7;
  transition-duration: 450ms;
  border-radius: 1rem;
}

.div-result .show-result:hover{
  opacity: 0;
}

.div-result .show-result h3 {
  padding: 10px;
  font-size: 28px;
  color: #ffd369;
}

.div-result .show-result h3 span{
  font-size: 25px;
  color: white;
}

.hidden{
  visibility: hidden;
}

.btn-position{
  position: absolute;
  bottom: 50px;
}

@media(max-width: 768px){

  .div-result{
    background-size: 100%;
  }

  .div-result .show-result h3 {
    padding: 10px;
    font-size: 25px;
    color: #ffd369;
  }
  
  .div-result .show-result h3 span{
    font-size: 20px;
    color: white;
  }

  #btn-nova-consulta{
    width: 28vw;
    height: auto;
    padding: 15px;
    margin: 0.5rem 1rem;
  }

}

@media(max-width: 500px){
  .div-result .show-result h3 {
    padding: 5px;
    font-size: 16px;
    color: #ffd369;
  }
  
  .div-result .show-result h3 span{
    font-size: 12px;
    color: white;
  }

  #btn-nova-consulta{
    width: 35vw;
    height: auto;
    margin: 0.5rem 1rem;
  }

}




